.btn-orange{
  background-color: #ED6920;
  color: white
}

.btn-rounded{
  border-radius: 50%;
  padding: 25px;
}

#restauranteContainer{
  height: 750px
}

#footerPagina{
  background-color: #ED6920;
  height: 200px;
  100px;
}
